* {
  margin: 0px;
}
body {
  display: flex;
  justify-content: center;
  background-color: black;
}
h1 {
  width: 1280px;
  height: 73px;
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 0px;
}

header {
  background-image: url(../img/bg-header.jpg);
  width: 1280px;
  height: 727px;
}
.containerP {
  width: 1280px;
  height: 348px;
  background-color: #000000;
}
.sectionPi {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.img1 {
  width: 399px;
  height: 237px;
}
.info {
  width: 475px;
  height: 197px;
  color: white;
}
#caracteristicas {
  width: 1280px;
  height: 348px;
  background-color: #1e1a13;
  color: #ffffff;
}
.caracteristicas {
  padding-top: 75px;
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 50px;
}
h3 {
  padding-top: 30px;
}
.gallery {
  width: 1280px;
  height: 348px;
  background-color: #000000;
  display: flex;
  justify-content: space-evenly;
}
.gallery img {
  width: 316px;
  height: 202px;
  padding: 80px;
}
footer {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  height: 60px;
  background-color: #1e1a13;
}
h4 {
  padding-top: 30px;
}

a {
  color: #ffffff;
}
